<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Add Post</h4>
        <form [formGroup]="addPostForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" formControlName="title" >
                <small class="m-0 text-danger" *ngIf="post['title'].touched && post['title'].errors?.['required']">Title is Required</small>
                <small class="m-0 text-danger" *ngIf="post['title'].touched && post['title'].errors?.['minlength']">Minimum 6 is Required</small>

            </div>

            <div class="mb-3">
                <label for="Description">Description</label>
                <textarea  id="Description" class="form-control"  formControlName="description"></textarea>
                <small class="m-0 text-danger" *ngIf="post['description'].touched && post['description'].errors?.['required']">Description is Required</small>
                <small class="m-0 text-danger" *ngIf="post['description'].touched && post['description'].errors?.['minlength']">Minimum 6 is Required</small>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary" [disabled]="!addPostForm.valid" >Add Post</button>
            </div>
        </form>
    </div>
</div>